.nav-list {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  transition: background 0.3s;
}

.nav-link:hover {
  background: rgba(255, 255, 255, 0.2);
}

.nav-link.active {
  background: #c485f7; /* warna untuk halaman aktif */
  font-weight: bold;
}

/* Header.css */
.logout-btn {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
}

.logout-btn:hover {
  text-decoration: underline;
}
