.header {
  /* background-color: #17a2b8;linear-gradient(135deg, #667eea 0%, #764ba2 100%) */
  /* background-color:  */
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 0 10rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}

.desktop-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1rem;
  transition: opacity 0.3s;
  transition: background 0.3s;
}

.nav-link:hover {
  /* columns: white; */
  /* opacity: 0.8; */
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-link.active {
  color: #667eea;
  background: white; /* warna untuk halaman aktif */
  font-weight: bold;
}

.login-btn {
  background-color: #e91e63;
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s;
}

.login-btn:hover {
  transform: scale(1.05);
}

.logout-btn {
  background-color: #e91e63;
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s;
}

.logout-btn:hover {
  text-decoration: underline;
}

.menu-btn {
  display: none;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.mobile-menu {
  background-color: #148a9e;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mobile-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

.mobile-login-btn {
  background-color: #e91e63;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}
